/* Contact.css */

 .contactus {
margin-left: 5rem;
margin-right: 5rem;
    padding: 50px;
    padding-top: 1px;
    margin-top:4rem;
    /* background-color: antiquewhite; */
 }
.contact-heading{
    font-size: 4rem;
  }
  .contact-1{
    display: flex;
    justify-content: space-between ;
    margin:0 3rem;
  }

 .message{
    display: flex;
    flex-direction:column;
 }
 .message-location,.message-email,.message-phone{
    display: flex;
    margin: 8px 0;

 }
 .message-location,.message-email,.message-phone p{
font-size: 25px;
padding-bottom: 1px;

 } 
 

.message-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left:10rem;
    justify-content: space-between; 
  }
  
  .message-2 {
    margin: 10px 0;
    padding: 7px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 .message-1 textarea {
    resize: vertical;
  }
  
  .message-1 button {
    background-color: #525CEB;
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width:28em;
  }
  
  .message-1 button:hover {
    background-color: #86B6F6;
  }
  
#contact-loc{
  margin-top: 5%;
  margin-left:10px;
}

/* footer */
/* YourComponent.css */
.footer {
  background: #1B4242;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
#cont-img{
  background-image: url('../images/contact-back.jpg');
  background-repeat:repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 80%;
}