.home{
    background-image: url('../images/main-wallpaper.jpg');
background-repeat:repeat;
background-attachment: scroll;
background-size: contain; 
height:90vh;

}
.home p{
    font-size: 60px;
    color: #124076;
    position: absolute;
    left: 42rem;
    top:15rem;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}